:root {
  --font-heading-xl: 2.5rem;   /* Page titles */
  --font-heading-lg: 2rem;     /* Section titles */
  --font-heading-md: 1.5rem;   /* Subheadings */
  --font-body: 1rem;           /* Regular text */
  --font-small: 0.875rem;      /* Minor text */
}

/* Apply Nunito Sans to everything */
* {
  font-family: 'Nunito Sans', sans-serif !important;
}

/* Nunito Sans','Nunito Sans Fallback */

/* index.css or global.css */
body {
  /* font-family: 'Poppins', sans-serif; */

      font-family: 'Nunito Sans', sans-serif !important;
  
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  margin-top: 0;
  color: #2c3e50;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
  margin: 0.5rem 0 1.5rem;
}


/* index.css or animations.css */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-up.show {
  opacity: 1;
  transform: translateY(0);
}

 .fade-in-down {
    opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
 }


 .fade-in-down.show {
  opacity: 1;
  transform: translateY(0);
}

.text-dec{
  text-decoration: none;
}


/* index.css or App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Nunito Sans',
    'Nunito Sans Fallback', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;
  color: #333;
  background-color: #fff;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fadeSlideUp 1s ease-out both;
}

html {
  scroll-behavior: smooth;
}


